body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    background-color: #1e4c52;
    color: #fff;
  }
  
  
  .second{
    display: flex;
    justify-content: right;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 1%;
    background-image: url(./assets/green\ leaves\ background.png);
    color: #ffffff;
  
    
  }
 
  h1 {
    font-size: 200%;
    font-family: sans-serif;
    padding-left: 50px;
    padding-right: 10px;
    color: #1d5e55;
    background-color: #53807c;
    display:inline-block
    
    
  }
  

 
  h2 {
    margin: none;
    font-size: 175%;
    text-align: right;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
   
  li {margin-left: 30px;}

  li:first-child {margin-left: 0px;}
 
   nav a {
    color: #2ef7cb;
    font-weight: bold;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
    text-decoration-color: #2ef7cb;
  }
  
  nav a:hover {
    color: #fff;
  }

  .About {
    display: flex;
    margin-top: 100px;
  
  }  
  
  .AM {
    font-size: 50px;
    color: #1d5e55;
    flex-basis: 100px;
    flex-grow: .5;
    text-align: right;
    border-right: 5px solid #1d5e55;
    padding-right: 10px;
   
  
    
  }

.AM:first-child{margin-right: 20px;}
 .ME {
    flex-basis: 100px;
    flex-grow: 1;
    color: #1d5e55;
    font-family: 'Times New Roman', Times, serif;
   
   
 }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }
  
 
