body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    background-color: #1f7709;
    color: #fff;
  }
  
  
  .second{
    display: flex;
    justify-content: right;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 1%;
    background-image: url(./assets/green\ leaves\ background.png);
    color: #ffffff;
  
    
  }
 
  h1 {
    font-size: 200%;
    font-family: sans-serif;
    padding-left: 50px;
    padding-right: 10px;
    color: #23b403;
    background-color: #055305;
    display:inline-block
    
    
  }
  

 
  h2 {
    margin: none;
    font-size: 175%;
    text-align: right;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
   
  li {margin-left: 30px;}

  li:first-child {margin-left: 0px;}
 
   nav a {
    color: #055305;
    font-weight: bold;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
    text-decoration-color: #23b403;
  }
  
  nav a:hover {
    color: #fff;
  }

  .About {
    display: flex;
    flex-direction: row;
  }  
  
  .About div{
    flex: 1;
    border-spacing: 4px solid #055305;
  }


  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }
  
 
