body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    background-color: #1e4c52;
    color: #fff;
  }
  
  
  .second{
    display: flex;
    justify-content: right;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 1%;
    background-image: url(../assets/green\ leaves\ background.png);
    color: #ffffff;
  
    
  }
 
  h1 {
    font-size: 200%;
    font-family: sans-serif;
    padding-left: 50px;
    padding-right: 10px;
    color: #1d5e55;
    background-color: #53807c;
    display:inline-block
    }
  
  h2 {
    margin: none;
    font-size: 175%;
    text-align: right;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
   
  li {margin-left: 30px;}

  li:first-child {margin-left: 0px;}
 
   nav a {
    color: #2ef7cb;
    font-weight: bold;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
    text-decoration-color: #2ef7cb;
  }
  
  nav a:hover {
    color: #fff;
  }

  .About {
    display: flex;
    margin-top: 100px;
  }  
  
  .AM {
    font-size: 50px;
    color: #1d5e55;
    flex-basis: 100px;
    flex-grow: .5;
    text-align: right;
    border-right: 5px solid #1d5e55;
    margin-right: 20px;
    padding-right: 20px;
 }

.AM:first-child{margin-right: 20px;}
 .ME {
    flex-basis: 100px;
    flex-grow: 1;
    color: #1d5e55;
    font-family: 'Times New Roman', Times, serif;
 }
  
 .Worktop {
    display: flex;
    margin-top: 100px;
    
    
   
 }

 .Work{
    font-size: 50px;
    color: #1d5e55;
    flex-basis: 100px;
    flex-grow: .5;
    text-align: right;
    border-right: 5px solid #1d5e55;
    margin-right: 20px;
    padding-right: 20px;
 } 
.Website:hover{
  color: #53807c7e;
 opacity: 50%;
}


.BRO:hover{
  color: #53807c7e;
 opacity: 50%;
}


.Bear:hover{
  color: #53807c7e;
 opacity: 50%;
}

.CP:hover{
  color: #53807c7e;
 opacity: 50%;
}


.Surf:hover{
  color: #53807c7e;
 opacity: 50%;
}


 .Right{
  flex-direction: column;
  flex-basis: 100px;
  flex-grow: 1;
  min-height: 1400px;
  display: block;
  


}
 .Website{
  display: block;
  background-image: url(../assets/colorfulwebsite.png); 
  height: 1000px;
  width: 1000px;
  background-size: cover;
 color: #1d5e55;
 text-align: center;
 font-size: 50px;
 font-family: 'Times New Roman', Times, serif;
 
 
 
 }


 .Red{
   background-image: url(../assets/10.png);
  height: 200px;
  width: 500px;
  border: 5px solid #1d5e55;
  background-size: cover;
  padding: 10px;
  background-position: center;
  margin-top: 10px; 
  color: #1e4c52;
  font-size: x-large;
  display:inline-block  
}



.lyric{
    display: inline-block;
  background-image: url(../assets/drunkmoms.png);
  height: 200px;
  width: 500px;
  background-size: cover;
  background-position: center;
  border: 5px solid #1d5e55;
  margin-top: 10px; 
  padding: 10px;
  color: #1e4c52;
  font-size: x-large;
}
 
 .Writers{
  display: inline-block; 
  background-image: url(../assets/writers.png);
   height: 200px;
   width: 500px;
   background-size: cover;
   background-position: center;
   border: 5px solid #1d5e55;
   margin-top: 10px; 
   padding: 10px;
   color:#1e4c52;
  font-size: x-large;
 }

 .MapBrew{
  display: inline-block; 
  background-image: url(../assets/mainPage.png);
  height: 200px;
  width: 500px;
  background-size: cover;
  background-position: center;
  border: 5px solid #1d5e55;
  margin-top: 10px; 
   padding: 10px;
   color: #1e4c52;
  font-size: x-large;
 }
 .Footer {
    display: flex;
    
 }
   
  .Contact{
    display: flex;
    margin-top: 30px;
  }
 
  .Con {
    font-size: 50px;
    color: #1d5e55;
    flex-basis: 100px;
    flex-grow: .97;
    text-align: right;
    border-right: 5px solid #1d5e55;
    margin-right: 20px;
    padding-right: 20px;
 }

.Con:first-child{margin-right: 20px;}

.Connav{
  display: inline-flex;
  flex-grow: 1;
  font-size: x-large;
  color: #1d5e55;
  font-family: 'Times New Roman', Times, serif;
  justify-content: space-evenly;

}
  .Connav:hover{
    color: #708683
  }
